<li class="list-group-item" [ngClass]="toggleClass()">
    <div class="form-check d-inline">
        <input type="checkbox" class="form-check-input" id="complete" (change)="onChange()">
        <label for="complete" class="form-check-label lead">{{todoInput.title}}</label>
    </div>
    <div class="float-right">
        <span class="mx-3">{{todoInput.date | date}}</span>
        <!-- <button class="btn btn-danger btn-sm mx-3" (click)="onCliCk($event)">x</button> -->
        <button class="btn btn-danger btn-sm mx-3" (click)="deleteTodo(todoInput)">x</button>
    </div>
</li>